@media (max-width: 768px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: 100% 50%;
        background-repeat: no-repeat;
        overflow-y: scroll;
    }

    main {
        display: grid;
        grid-template-areas: 
        "nav"
        "image"
        "text-container"
        "footer";
        grid-template-columns: 1fr;
    }

    nav a h1 img{
        width: 30rem;
    }

    section.image{
        padding: 5rem;
    }

    section.text-container{
        align-items: center;
        text-align: center;
    }

    footer .social-media_list{
        justify-content: center;
        padding: 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 35%;
    }
}